.pd-l-r-30{
    padding-left: 30px;
    padding-right: 30px;
}
.image-empresa{
    width: 100%;
    display: inline-block;
    position: relative;
}
.image-empresa img{
    width: 100%;
    height: 310px;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
}
.p-absolute{
    position: absolute;
}
.txt-h2-about{
    color: #fff;
    font-size: 32px;
    letter-spacing: 2px;
    left: 10%;
    top: 150px;
}
.col-6{
    width: 50%;
}
.image-about{
    width: 50%;
    display: inline-block;
    position: relative;
}
.image-about img{
    width: 100%;
    /* height: 310px; */
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
}
.mg-top-60{
    margin-top: 60px;
}
.mg-r-15{
    margin-right: 60px;
}
.maps{
    background-color: aquamarine;
    width: 100%;
    height: 800px;
}
.endereco-maps{
    width: 250px;
}
.send-to-map{
    background-color: antiquewhite;
    padding: 20px 50px;
    left: 5%;
    top: 5%;
}
.send-to-map h2{
    margin: 10px 0;
}